/* Rėmelius įskaičiuojame į elemto plotį */
* {
    box-sizing: border-box;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    /*tevui uzdeti position relative*/
    position: absolute;
    /*kiek nutoles nuo kaires puses*/
    right: 10px;
    top: 0px;
}
.one {
    box-sizing: border-box;
    height: 30px;
    width: 150px;
    text-align: center;
    border: 1px solid #000;
    right: -1px;
    top: -21px;
    background-color: red;
}
.two {
    box-sizing: border-box;
    height: 30px;
    width: 150px;
    text-align: center;
    border: 1px solid #000;
    right: -1px;
    top: -21px;
    background-color: yellow;
}
.three {
    box-sizing: border-box;
    height: 30px;
    width: 150px;
    text-align: center;
    border: 1px solid #000;
    right: -1px;
    top: -21px;
    background-color: pink;
}
div {
    position: relative;
    /* atstumimas zemyn*/
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    /*Elementų išdėstymas vienoje eilutėje*/
    width: 30%;
    float: left;
    border: solid 1px #000;
    background-color: #A1A1A1;
    margin-left: 2.5%;
}
article:last-of-type {
    margin-right: 2%;
}
.clear-fix {
    clear: both;
}
.rodyti-eiluteje {
    display: inline-block;
    width: 30%;
    margin-left: 2.5%;
}
body {
    margin: 0;
    }
/* --------- TABLETS------------------*/
/* max-width: 768px : nuo 0 iki 786 px ekrano plocio */
@media (max-width: 786px) {
    #one {
        width: 45%;
        margin-left: 3.333%;
    }
    #two {
        width: 45%;
        margin-left: 3.333%;
    }
    #three {
        width: 93.33%
        margin-left: 3.333%;
        margin-top: 30%;
    }
}
/* ----------- MOBILES-----------------*/
@media (max-width: 425px) {
    #one,
    #two {
        width: 93.33%;
        margin-top: 20px;
    }
}
